@media (min-width: 480px) {
  #film-img {
    content: url("http://placehold.it/450x300");
  }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #film-img {
    content: url("http://placehold.it/715x300");
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #film-img {
    content: url("http://placehold.it/935x300");
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #film-img {
    content: url("http://placehold.it/1300x300");
  }
}
