/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.col-md-12.wrap {
  border: 1px solid #ccc;
  margin: 0 15px;
}

.container table {
  font-size: 1em;
}
