.fresh-movie {
    .green {
        background-color: $ff-green;
    }

    &__session {
        &-add_block {
            display: flex;
            justify-content: space-around;

            input {
                width: 50%;
            }
        }
    }

    .session-pool {
        display: flex;
        flex-wrap: wrap;

        .s-item {
            padding: 4px 8px;
            background: white;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-right: 15px;
            cursor: pointer;

            &:hover {
                color: $white;

                &:before {
                    content: '❌';
                    display: block;
                    color: red;
                    position: absolute;
                    font-size: 21px;
                    line-height: 1;
                    padding-left: 10px;
                }
            }

            &.new {
                color: green;
            }
        }
    }
}
