// all cinema
.cinemas {
    .cinema {
        margin-bottom: 25px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #ccc;

        &-name {
            margin-bottom: 10px;
            display: block;
            font-size: 20px;
            color: #dc4545;
        }

        &-address {
            margin-bottom: 10px;
        }
    }
}

// cinema details
.cinema-details {
    padding: 0 40px;

    .to-cinemas {
        color: #777;
        font-size: 16px;
        padding: 16px 0 14px;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: #333;
        }
    }

    .cinema-name {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .cinema-address {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .cinema-phone_number {
        font-size: 16px;
    }
}

.cinema-shedule {

    .calendar-filter {
        box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.05);
        margin-left: -55px;
        margin-right: -55px;
        padding-bottom: 20px;
        position: relative;

        input {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 245px;
            z-index: 0;
            width: 200px;
        }
    }

    .calendar {
        font-size: 24px;
        font-weight: bold;
        margin-left: 55px;
        margin-right: 55px;

        &-day {
            color: #777;
            position: relative;
            padding-right: 15px;
            z-index: 10;

            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 11px;
                height: 6px;
                background: url('../img/dropdown-arrow.svg') no-repeat;
                transition: transform .2s ease;
            }

            &.-opened {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .movies {}

    .movie {
        display: flex;
        padding: 20px 0;
        box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.05);
        position: relative;

        .picture {
            width: 60px;
            height: 85px;
            margin-right: 15px;
            background-size: cover;
        }

        &-info {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &_title {
                color: black;
                font-weight: bold;
                font-size: 16px;
            }

            &_summary {
                span {
                    color: #777;

                    &:after {
                        color: #777;
                        font-weight: normal;
                        content: ' \2022 ';
                    }

                    &.age-limit {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            &_rating {
                color: #128b27;
                font-weight: bold;
                font-size: 16px;
            }
        }

        &-formats {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .format {
                font-size: 12px;
                color: #777;
                font-weight: bold;
                padding-left: 8px;
            }

            .sessions {
                display: flex;

                .session {
                    padding: 4px 8px;
                    margin-right: 5px;
                    border-radius: 3px;
                    cursor: pointer;

                    &:hover {
                        background-color: #e6e6e6;
                        border-color: #adadad;
                    }

                    &.-selected {
                        background: $b-warn;
                        border: 1px solid $b-warn-border;
                    }
                }
            }
        }

        .buy-ticket {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
