.fp-header {
    margin-top: 40px;
    background: #656565;

    .fp-nav {
        width: 100%;

        > li {
            &[account] {
                float: right;
            }

            &:last-child {
                float: right;
            }

            > a {
                color: #ccc;

                &:hover, &:focus {
                    background-color: #828080;
                }
            }
        }
    }

    .navbar-toggle {
        background: $b-blue;

        .icon-bar {
            background: $white;
        }
    }

    #myNavbar {

    }
}
