
.hall {
    padding: 30px 0;
}

.hall-grid {
    display: flex;
    justify-content: center;

    &__seats {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        max-width: 242px;
    }

    &__item {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .1s ease;
        cursor: pointer;

        &.-selected {
            background: #8bd26f;
        }

        &.-bought {
            background: #ff6262;
        }

        &:hover {
            background: #efefef;

            &.-bought {
                background: #ff6262;
            }
        }
    }
}

.pay-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cost {
        opacity: 0;
        margin-bottom: 10px;
    }
}

.screen {
    margin-bottom: 18px;
    width: 100%;
    height: 45px;
    border-top: 2px solid gray;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    display: block;
    border-radius: 100% 100%;
    font-size: 17px;

    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.info-section {
    span {
        font-weight: bold;
    }
}
