/******************************************************************************
  MEDIA queries
******************************************************************************/

$ip5: "max-width: 350px";
$xs: "max-width: 575px";
$s: "max-width: 767px";
$m: "max-width: 991px";
$l: "max-width: 1199px";
$xl: "max-width: 1599px";

//bootstrap
$b-warn-border: #eea236;
$b-warn: #f0ad4e;
$b-blue: #337ab7;
$b-blue-border: #2e6da4;

// colors
$white: #fff;
$ff-red: #fbaaaa;
$ff-green: #dbf4da;
$ff-light-blue: #d6edf9;
